[Unit]
Description=convey's variant of BBB recording to MP4

After=network.target

[Service]
Type=simple
ExecStartPre=cd /var/www/bbb-mp4
ExecStart=/usr/bin/node /var/www/bbb-mp4/server/server.js

[Install]
WantedBy=multi-user.target
